

.footer__secondary-link--white {
    color: var(--primery-white-color);
}

.footer__first-link--blue {
    color: var(--accent-text-color);
}

.text--light {
    color: var(--primery-white-color);
}

.btn-submit--light {
    color: var(--primery-white-color);
}

.footer__item {
    margin-top: 9px;
}

/* .footer-item :hover {
    color: var(--accent-text-color);
} 

.footer-item :focus {
    color: var(--accent-text-color);
} */

.footer__link:hover,
.footer__link:focus {
    color: var(--accent-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer {
    width: 100%;
    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer__first-link {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    // @media screen and(min-width:480px) {
    //     font-weight: 700;
    //     font-size: 24px;
    //     line-height: 28px;
    //     text-align: center;
    //     letter-spacing: 0.03em;
    // }
    // @media screen and(min-width:768px) {
    //     font-weight: 700;
    //         font-size: 24px;
    //         line-height: 28px;
    //         text-align: center;
    //         letter-spacing: 0.03em;
    // }
    // @media screen and(min-width:1200px) {
    //     font-weight: 700;
    //         font-size: 24px;
    //         line-height: 28px;
    //         text-align: center;
    //         letter-spacing: 0.03em;
    // }
}

.footer__list {
    margin-top: 20px;
    @media screen and(min-width:480px) {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }
    @media screen and(min-width:1200px){
        display: block;
        
    }
}


.footer__secondary-link {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
}

.footer__link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.footer__link--gray {
    color: rgba(255, 255, 255, 0.6);
}

[href="https://goo.gl/maps/KMvbWjtFumq3UxaW6"] {
    color: var(--primery-white-color);
}

.soc__item {
    margin-right: 10px;
    width: 44px;
    height: 44px;
    margin-right: 10px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.soc__item:last-child {
    margin-right: 0;
}

.soc__link {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.soc__link:hover,
.soc__link:focus {
    background-color: var(--accent-text-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.soc__link:hover .soc__icon,
.soc__link:focus .soc__icon {
    fill: var(--primery-white-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.soc {
    display: flex;
    justify-content: center;
}

.soc__icon {
    width: 20px;
    height: 20px;
    fill: var(--primery-white-color);
}

.footer__text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;

    &--light {
        color: var(--primery-white-color);
    }
}



.footer__group {
    display: -webkit-box;
    @media screen and(min-width:480px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;
    }
    @media screen and(min-width:768px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: row;
    }
}

.backdrop {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    transition: opacity 300ms, visibility 300ms;
}



.feedback {
    @media screen and(min-width:480px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }
    @media screen and(min-width:480px) {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }
    @media screen and(min-width:1200px){
        align-items: normal;
    }
    margin-left: 93px;
}

.feedback__form {
    @media screen and(min-width:480px) {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: center;
        align-items: center;
        justify-content: center;
    }
    @media screen and(min-width:1200px){
        display: block;
    }
}

.feedback__text {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-top: 0px;
    // color: var(--primery-white-color);

    &--light {
        color: var(--primery-white-color);
    }
}



.feedback__email {
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
    width: 324px;
    // height: 50px;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    /* padding-top: 15px;
   padding-left: 16px;
   padding-bottom: 15px; */
    padding: 15px 16px;
    @media screen and(min-width:480px) {
        margin-bottom: 20px;
        width: 416px;
    }
    @media screen and(min-width:1200px){
        width: 324px;
    }
}

.feedback__email--gray {
    color: rgba(255, 255, 255, 0.6);
}

.feedback__btn-submit {
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 1px solid transparent;
    width: 200px;
    height: 50px;
    margin-left: 12px

}

.feedback__btn-submit {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;

    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &--light {
        color: var(--primery-white-color);
    }

    &:hover , &:focus {
        background: #188CE8;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }
}

.feedback__btn-submit::after {
    content: "";
    width: 24px;
    height: 24px;
    /* outline: 1px solid tomato; */
    background-size: contain;
}

.feedback__btn-submit::after {
    background-image: url(../images/telegram.png);
    background-repeat: no-repeat;
    /* display: inline-flex;
    justify-content: center;
    align-items: center; */
    margin-left: 10px;
}

// .feedback__btn-submit:hover {
//     background: #188CE8;
//     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
// }