
.hero {
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    /*max-width: 1600px;
    /*margin-left: auto;
    margin-right: auto; 
    /*outline: 1px solid tomato;*/
    /*background-color: #2F303A;*/
}

.hero-container {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    background-color: #2F303A;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/bg-img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.solutions-text {
    @media screen and (min-width:480px) and (max-width:768px) {
        width: 360px;
        height: 84px;
        font-size: 26px;
        line-height: 1.62;
        /* or 162% */
        
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        padding-left: auto;
        padding-right: auto;
        color: var(--primery-white-color);
    }

    @media screen and (min-width:320px) and (max-width:480px) {
        width: auto;
        height: auto;
        font-size: 26px;
        line-height: 1.62;
        /* or 162% */

        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        padding-left: auto;
        padding-right: auto;
        color: var(--primery-white-color);
    }
    width: 696px;
    margin: 0;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--primery-white-color);
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;

}

.solutions-button {
    background-color: var(--accent-text-color);
    color: var(--primery-white-color);
    border: 1px solid var(--accent-text-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

// .solutions-button:hover {
//     background-color: #188CE8;
//     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
//     border-radius: 4px;

// }

.solutions-button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--primery-white-color);
    margin-left: auto;
    margin-right: auto;
    padding: 10px 32px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
        background-color: #188CE8;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
    }
}