

.modal-text {
    color: var(--primery-text-color);
    margin-bottom: 12px;
    margin-top: 0;
    @media screen and (min-width:1200px) {
        font-weight: 700;
        font-size: 20px;
        line-height: 1.15;
        text-align: center;
        letter-spacing: 0.03em;
        
    }
    @media screen and (min-width:480px) and (max-width:1199px) {
        font-weight: 700;
        font-size: 20px;
        line-height: 1.5;
        text-align: center;
        letter-spacing: 0.03em;
        
    }
}

/* input {
    padding: 8px;
    font-family: inherit;
} */

.label {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
}

.modal {
    @media screen and (min-width:1200px) {
        width: 528px;
        min-height: 501px;
    }
    @media screen and (min-width:480px) and (max-width:1199px) {
        width: 370px;
        height: 529px;
    }
    background-color: var(--primery-white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
}

.modal-close-btn {
    background-color: var(--primery-white-color);
    border: 1px solid var(--primery-white-color);
    padding: 0;
    position: absolute;
    top: 8px;
    right: 8px;
}

.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.modal-info {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    /* identical to box height */

    letter-spacing: 0.01em;

    color: var(--title-text-color);

    margin-bottom: 4px;
}

/* .modal-name::after {
    content: "";
    width: 18px;
    height: 18px;
    background-size: contain;
    background-image: url(../images/person-black.svg);
    background-repeat: no-repeat;
} */

.modal-name {
    margin-bottom: 4px;
}

.textarea {
    padding: 16px 12px;
    font-family: inherit;
    font-size: inherit;
    resize: none;
}

.textarea-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    height: 120px;

    color: rgba(117, 117, 117, 0.5);
    padding: 12px 16px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    width: 448px;
    height: 120px;
}

/* .textarea-input {
    width: 448px;
    height: 120px;
} */

.modal-input {
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    width: calc(100% - 40px);
    height: 36px;
    padding-left: 42px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-field {
    position: relative;
    margin-bottom: 10px;

}

.modal-textarea {
    margin-bottom: 20px;
}

.modal-icon {
    position: absolute;
    left: 15px;
    top: 70%;
    transform: translateY(-70%);
    width: 18px;
    height: 18px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-checked {
    margin-left: 14px;
    @media screen and (min-width:320px) and (max-width:1199px) {
        margin-left: 0px;
    }
}

.check-text {
    @media screen and (min-width:320px) and (max-width:1199px) {
        width: calc(100% - 80px);
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        /* identical to box height */
        
        letter-spacing: 0.03em;
        display: block;
    }
    @media screen and (min-width:1200px) {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;

        letter-spacing: 0.03em;
    }
    

    color: var(--title-text-color);
    display: flex;
    align-items: center;
}

.privacy-span {
    width: 16px;
    height: 15px;
    border: 1px solid var(--primery-text-color);
    border-radius: 2px;
    margin-right: 7px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.check-icon {
    fill: transparent;
}

.modal-check:checked+.check-text .privacy-span {
    background-color: var(--accent-text-color);
    border: none;
}

.modal-check:checked+.check-text .check-icon {
    fill: var(--primery-white-color);
}

.modal-span {
    padding-left: 5px;
}


.check-link {
    @media screen and (min-width:320px) and (max-width:767px) {
        font-weight: 400;
            font-size: 12px;
            line-height: 14px;
            /* identical to box height */
        
            letter-spacing: 0.03em;
    }
    @media screen and (min-width:768px) and (max-width:1199px) {
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        /* identical to box height */
    
        letter-spacing: 0.03em;
    }
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;

    letter-spacing: 0.03em;
    color: var(--accent-text-color);
}

.modal-div {
    @media screen and (min-width:320px) and (max-width:767px) {
        bottom: 113px;
    }
    @media screen and (min-width:768px) and (max-width:1199px) {
        bottom: 112px;
    }
    position: fixed;
    
    padding-left: 28px;
}

.modal-submit {
    display: flex;
    width: 200px;
    height: 50px;
    background: var(--accent-text-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: transparent;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;

    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;

    color: var(--primery-white-color);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-submit:hover,
.modal-submit:focus {
    background: #188CE8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.modal-input:focus {
    border-color: var(--accent-text-color);
    outline: none;

}

.modal-input:focus+.modal-icon {
    fill: var(--accent-text-color);
}

.textarea-input:focus {
    border-color: var(--accent-text-color);
    outline: none;
}

.textarea-input {
    width: calc(100% - 30px);
    height: 96px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.proba {
    display: flex;
    flex-wrap: nowrap;
}
