

.basic-list {
    
    @media screen and(min-width:1200px){
        display: flex;
        justify-content: space-between;
    }
    @media screen and (min-width:320px) and (max-width:1199px) {
        display: none;
    }
}

.basic-text {
    @media screen and (min-width:1200px) {
        margin-top: 0;
        margin-bottom: 50px;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.66;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--primery-text-color);
    }
    @media screen and (min-width:320px) and (max-width:1200px) {
        display: none;
    }
        
    
}

.basic-item-one {
    @media screen and (min-width:1200px) {
        position: relative;
        height: 294px;
        width: 370px;
        @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                & {
                    background-image: url('../images/img-1-2x.jpg');
                }
            }
    }
    @media screen and (min-width:320px) and (max-width:1200px) {
        display: none;
    }
    
}

.basic-item-two {
    @media screen and (min-width:1200px) {
        position: relative;
        height: 294px;
        width: 370px;

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            & {
                background-image: url('../images/img-2-2x.jpg');
            }
        }
    }

    @media screen and (min-width:320px) and (max-width:1200px) {
        display: none;
    }

}

.basic-item-tree {
    @media screen and (min-width:1200px) {
        position: relative;
        height: 294px;
        width: 370px;

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            & {
                background-image: url('../images/img-3-2x.jpg');
            }
        }
    }

    @media screen and (min-width:320px) and (max-width:1200px) {
        display: none;
    }

}

.basic-item-one>.label,
.basic-item-tree>.label,
.basic-item-two>.label {
    @media screen and (min-width:1200px) {
        position: absolute;
        bottom: 0;
        width: 100%;
        // height: 70px;
        padding-top: 27px;
        padding-bottom: 27px;
        margin: 0;
    
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        text-align: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--primery-white-color);
    
        background: rgba(47, 48, 58, 0.8);
    }
    @media screen and (min-width:320px) and (max-width:768px) {
        display: none;
    }
        
        
    
}