

.example-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2.00;
    letter-spacing: 0.06em;
    color: var(--primery-text-color);
    margin-top: 20px;
    margin-bottom: 4px;
}

.example-text {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--title-text-color)
}

.example-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.example-item:nth-child(2n) {
    margin-left: 0;
}

.example-item:nth-child(3n+0) {
    margin-right: 0;
}

.example-item {
    @media screen and (min-width:768px) {
        margin-bottom: 30px;
    margin-right: 30px;
    }
    @media screen and (min-width:320px) and (max-width:768px) {
        margin-bottom: 30px;
        &:last-child {
            margin-bottom: 0px;
        }
    }
    @media screen and (min-width:1200px) {
        &:nth-child(1n+7) {
        margin-bottom: 0;
        }
    }

    &:hover, &:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }

}

// .example-item:nth-child(1n+7) {
//     margin-bottom: 0;
// }        --------------------------------------

.example-item:last-child {
    margin-right: 0;
}



.example-img {
    display: block;
    @media screen and (min-width:320px) and (max-width:480px){
        width: 290px;
        gap: 30px;
    }
}

.box {
    @media screen and (min-width:320px) and (max-width:480px) {
        width: 290px;
    }
    @media screen and (min-width:480px) and (max-width:768px) {
        width: 354px;
    }
    position: relative;;
    overflow: hidden;

    &:hover .overlay {
       transform: translateY(0);
    }
}

// .box:hover .overlay {
//     transform: translateY(0);
// }

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    // width: 100%;
    // height: 100%;

    transform: translateY(100%);
    transition: transform 250ms ease;

    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    /* or 156% */
    letter-spacing: 0.03em;
    color: #FFFFFF;
    background: rgba(33, 150, 243, 0.9);
    padding: 63px 24px;
}