.qualities {
    // padding-top: 94px;
    // // padding-bottom: 0;
    // padding-bottom: 94px;
    padding-top: 60px;
    padding-bottom: 60px;
    @media screen and (min-width:1200px) {
        padding-bottom: 94px;
        padding-top: 94px;
    }
}

.qualities-list {
    display: flex;
    flex-wrap: wrap;

    @media screen and(min-width:1200px) {
            display: flex;
            flex-wrap: nowrap;
            gap: 30px;
            justify-content: center;
    }

    @media screen and(min-width:768px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

    }

    @media screen and(min-width:480px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
    }
}

// width: 100%;
// margin: 0 auto;
// padding-left: 15px;
// padding-right: 15px;

.qualities-item {
    width: 100%;
   @media screen and(min-width:768px) {
    width: 354px;
   }
   @media screen and(min-width:1200px) {
    width: 270px;
   }
}

.qualities-icon {
    width: 70px;
    height: 70px;
}

.qualities-text {
    display: block;
}

.qualities-item:last-child {
    margin: 0;
}

.qualities-top-text {
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primery-text-color);
    @media screen and(min-width:480px) and(max-width:768px) {
        text-align: center;
    }
}

.qualities-bottom-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}