

.section-btn-list {
    text-align: center;
    display: flex;
    justify-content: center;
}

.section-btn-item {
    margin-right: 8px;
    transition: color 2250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.section-btn-item:last-child {
    margin-right: 0;
}

.button {

    &:hover, &:focus {
        color: var(--primery-white-color);
        background-color: var(--accent-text-color);
        border: 1px solid var(--accent-text-color);
    }
    
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primery-text-color);
    background-color: #F5F4FA;
    border: 1px solid #F5F4FA;
    margin-top: 0;
    margin-bottom: 50px;
    padding: 6px 22px;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current-button {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primery-white-color);
    background-color: var(--accent-text-color);
    border: 1px solid var(--accent-text-color);
    margin-top: 0;
    margin-bottom: 50px;
    padding: 6px 22px;
    border-radius: 4px;
}